<div class="flex flex-col justify-center items-start gap-4">
  <button type="button"
          (click)="onGenerateCameras()"
          class="px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Generate cameras
  </button>
  <div
    class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-center mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-600 dark:text-white text-center"> List of cameras</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 overflow-auto overflow-x-hidden h-72">
        @for (camera of cameraList; track camera) {
          <li class="pr-6 py-3 sm:py-4">
            <div class="flex items-center">
              <div
                class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                <span class="font-medium text-gray-600 dark:text-gray-300">{{ camera.shortTitle }}</span>
              </div>
              <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                  {{ camera.title }}
                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  [ distance: {{ camera.distance }}  | light: {{ camera.light }} ]
                </p>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  </div>

</div>


